*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #e0e8ff;
}

main{
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  background-color: #fff;
  width: 90vw;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 20px;
}

h1{
  color: #fff;
  background-color: #1b1096;
  width: 100%;
  margin-bottom: 10px;
  font-size: 2rem;
  padding: 20px 10px;
}

.input-section{
  width: 70%;
}

.input-slider{
  width: 100%;
  margin-top: 5px;
}

.output{
  border-radius: 9999px;
  background-color: #1b1096;
  color: #fff;
  padding: 5px 10px;
  margin-top: 10px;
}

.output-section{
  margin-top: 20px;
}